
/* slideshow */

#blog h1 {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 1%;
}

#blog p {
    width: 75%;
    margin: 0 auto;
}

.mySlides {
    width: 100%;
    width: 100%;
    display: block;
    border-style: none;
    box-sizing: inherit;
}

.slide-left,
.slide-right,
.slide-badge {
    cursor: pointer;
}

.slide-badge {
    height: 52px;
    width: 13px;
    padding: 0;
}

.slide-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: inherit;
    display: block;
}

.controls-container {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    padding: 0.01em 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    box-sizing: inherit;
}

.slide-left {
    margin-left: 10px;
    cursor: pointer;
    float: left;
    box-sizing: inherit;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.slide-right {
    margin-right: 10px;
    cursor: pointer;
    float: right;
    box-sizing: inherit;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.hover-text {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.hover-text:hover {
    color: #b4aa50;
}

.slide-button {
    height: 13px;
    width: 13px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    box-sizing: inherit;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-right: 5px;
}

.slide-button:hover {
    color: #000;
    background-color: #fff;
}

.button-white {
    color: #000;
    background-color: #fff;
}

.myText {
    text-align: center;
}